<ion-header>
  <ion-toolbar>
    <ion-title> App ejemplo </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="primary">
    <h1 routerLink="/pagina2">Ir a pagina2</h1>
  </ion-text>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-text color="primary">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptate in voluptates. Est, minus illo eos delectus quisquam nisi, quaerat, ex ducimus maiores aliquid quidem fuga? Harum voluptas doloremque amet.</p>
          <h1 class="purple">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quaerat fugiat itaque eaque a sint omnis ipsum voluptatem quas, culpa, consequuntur beatae ipsam soluta aliquam? Perspiciatis ipsam voluptates consectetur recusandae.</h1>
        </ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text color="primary">
          <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non praesentium eligendi eaque minus perspiciatis. Laudantium earum officiis, maiores odio similique voluptatem! Sunt architecto magni dolor, nesciunt consequuntur at quibusdam libero.</h3>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
